.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
/build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

data/**
!data/.gitkeep
!data/checkpoints/
!data/checkpoints/.gitkeep

*.pt
*.pth
*.ckpt
*.nii
*.nii.gz
*.nrrd
*.dcm

.DS_Store
*.swp
*~

# Qt
*.qmlc
*.jsc
